* {
    padding: 0;
    margin: 0;
}

nav {   
    background-image: linear-gradient(rgb(17, 223, 255), rgb(104, 204, 211));
    display: flex;
    justify-content: space-between;
    padding:0 1rem 0 1rem;
   color: beige;

}
h1{
    text-shadow: 5px 6px 7px rgb(0, 46, 197);
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

nav ul a li {
    color: white;
    text-decoration: none;
    list-style-type: none;
}

nav ul a {
    text-decoration: none;
}

#myCanvas {
    border: 2px solid black;
    border-radius: 2%;
    height: 80vh;
    width: 80vw;
}

main {
    background-image: linear-gradient(rgb(202, 200, 200), white);
    height: 70vh;
}


img {
    height: 10rem;
    width: 10rem;
}

.hidden{
    display: none;
}

.hidden2{

    opacity: 0;
    
    /* or translateY(10px) */
    pointer-events: none;
    transition: opacity 0.7s ease;
}

/* button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
} */

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#buttons {
    transition: opacity 0.3s ease, transform 0.3s ease;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

.btn{
    width: 4rem;
    height: 1.5rem;
    padding:0.2rem;
    border-radius: 0.5rem;
    
}

.btn:hover{
    border: none;
    box-shadow: 0.2rem 0.5rem 0.8rem rgba(0, 0, 0, 0.749);
}

/* Result */

#result{
   align-items: center;
    font-size: 3rem;
}