* {
    padding: 0;
    margin: 0;
}

nav {
    background-image: linear-gradient(rgb(17, 223, 255), rgb(104, 204, 211));
    display: flex;
    justify-content: space-between;
    padding: 0 1rem 0 1rem;
    color: beige;

}

h1 {
    text-shadow: 5px 6px 7px rgb(0, 46, 197);
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

nav ul a li {
    color: white;
    text-decoration: none;
    list-style-type: none;
}

nav ul a {
    text-decoration: none;
}

#myCanvas {
    border: 2px solid black;
    border-radius: 2%;
    height: 80vh;
    width: 80vw;
}

main {
    width: 80vw;
    height: 70vh;
}


img {
    height: 10rem;
    width: 10rem;
}

.hidden {
    display: none !important;
}

.hidden2 {

    opacity: 0;

    /* or translateY(10px) */
    pointer-events: none;
    transition: opacity 0.7s ease;
}

/* button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
} */
.container {
    background-image: linear-gradient(rgb(192, 191, 191), white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

main {
    /* background-image: linear-gradient(rgb(202, 200, 200), white); */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#buttons {
    transition: opacity 0.3s ease, transform 0.3s ease;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

.btn {
    width: 4rem;
    height: 1.5rem;
    padding: 0.2rem;
    border-radius: 0.5rem;

}

.btn:hover {
    border: none;
    box-shadow: 0.2rem 0.5rem 0.8rem rgba(0, 0, 0, 0.749);
}

/* Result */

#result {
    align-items: center;
    font-size: 3rem;
}

#scoreBoard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 1rem;
    height: 45vh;
    width: 40vw;
    gap: 1rem;
    box-shadow: 1px 5px 20px rgb(31, 28, 66);
}

.scores {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0 1rem 0;
    gap: 2rem;
}

.comp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    gap: 1rem;
}

.player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    gap: 1rem;
}

.compScore {
    font-size: 2rem;
    font-weight: bold;
}

.playerScore {
    font-size: 2rem;
    font-weight: bold;
}

#playAgain {
    size: 2rem;
    border-radius: 0.6rem;
    border: 1px solid green;
    background-image: linear-gradient(rgb(167, 250, 1), rgb(95, 255, 3));
    color: black;
    font-size: 0.7rem;
    font-weight: bold;
    padding: 0.4rem;
    transition: transform 0.3s ease-in, background-image 0.5s ease-in-out;
}

#playAgain:hover {
    box-shadow: 5px 5px 10px rgba(1, 33, 1, 0.642);
    background-image: linear-gradient(rgb(250, 217, 1), rgb(255, 137, 3));
    transform: scale(1.05);
    border: 1px solid red;

}