* {
    padding: 0;
    margin: 0;

}

body {
    background-image: linear-gradient(134deg, rgb(212, 230, 236), #002244);
    height: 100vh;
}

h1 {
    color: white;
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: normal;
}

nav {
    background-image: linear-gradient(#021856, #041E42);
    display: flex;
    justify-content: space-between;
    padding: 0 1rem 0 1rem;
    color: beige;
    height: 8vh;
    font-family: "Atkinson Hyperlegible Mono", sans-serif;
    font-size: 0.8rem;
    font-weight: bolder;
    letter-spacing: 1px;

}

nav ul li:hover{
    color: crimson;
}


nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

nav ul a li {
    color: white;
    text-decoration: none;
    list-style-type: none;
}

nav ul a {
    text-decoration: none;
}

#myCanvas {
    border: 2px solid black;
    border-radius: 2%;
    height: 80vh;
    width: 80vw;
}

main {
    width: 80vw;
    height: 70vh;
}


img {
    height: 10rem;
    width: 10rem;
}

.hidden {
    display: none !important;
}

.hidden2 {

    opacity: 0;

    /* or translateY(10px) */
    pointer-events: none;
    transition: opacity 0.7s ease;
}

/* button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
} */
.container {


    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;

}

.innerContainer {
    background-color: white;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 75vh;

}

main {
    /* background-image: linear-gradient(rgb(202, 200, 200), white); */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#buttons {
    transition: opacity 0.3s ease, transform 0.3s ease;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;


}

.btn {
    width: 5rem;
    height: 2rem;
    padding: 0.2rem;
    border-radius: 0.5rem;
    background-image: linear-gradient(rgb(250, 255, 251), rgb(118, 154, 118));
    font-weight: bold;
    color: rgb(10, 42, 0);
    border: 2px solid white;


}

.btn:hover {
    border: none;
    box-shadow: 0.2rem 0.5rem 0.8rem rgba(0, 0, 0, 0.749);
}

/* Result */

#result {
    align-items: center;
    font-size: 3rem;
}

#scoreBoard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 1rem;
    height: 45vh;
    width: 40vw;
    gap: 1rem;
    box-shadow: 1px 5px 20px rgb(31, 28, 66);
}

.scores {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0 1rem 0;
    gap: 2rem;
}

.comp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    gap: 1rem;
}

.player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    gap: 1rem;
}

.compScore {
    font-size: 2rem;
    font-weight: bold;
}

.playerScore {
    font-size: 2rem;
    font-weight: bold;
}

#playAgain {
    size: 2rem;
    border-radius: 0.6rem;
    border: 1px solid green;
    background-image: linear-gradient(rgb(167, 250, 1), rgb(95, 255, 3));
    color: black;
    font-size: 0.7rem;
    font-weight: bold;
    padding: 0.4rem;
    transition: transform 0.3s ease-in, background-image 0.5s ease-in-out;
}

#playAgain:hover {
    box-shadow: 5px 5px 10px rgba(1, 33, 1, 0.642);
    background-image: linear-gradient(rgb(250, 217, 1), rgb(255, 137, 3));
    transform: scale(1.05);
    border: 1px solid red;

}

/* About Page ---------------------------------------------------- */

.aboutMain {
    background-image: linear-gradient(134deg, rgb(212, 230, 236), #002244);
    height: 92.5vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutCard {
    background-image: linear-gradient(135deg, white, rgb(211, 209, 209));
    width: 60vw;
    height: 80vh;
    border-radius: 1rem;
    padding: 1rem;
    border: 1px solid rgb(255, 255, 255);
    transition: transform 0.5s ease;
}

.aboutCard:hover {
    box-shadow: 0.8rem 1.5rem 2rem rgba(3, 3, 70, 0.639);
    border: 1px solid white;
    transform: scale(1.03);


}
.aboutCard h2{
    font-family: "Atkinson Hyperlegible Mono", sans-serif;
    
    font-weight: bolder;
    letter-spacing: 1px;
}

.aboutCard .text {
    transition: font-size 0.5s ease;
}

.aboutCard .text:hover {
    font-size: 1.2rem;
}

#aboutHeading {
    font-size: 2rem;
    padding-bottom: 1rem;
}

#aboutP {
    font-size: 1.4rem;
    padding-left: 1rem;
    margin-top: 0.5rem;
}

#typing {
    font-family: "PT Serif", serif;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
}

#typing {

    font-family: Consolas, "Courier New", monospace;
}

#typing::after {
    content: "_";
    animation: blink 1s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}


.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 1rem;
    width: 50vw;
    margin: auto;
}

.item1,
.item2 {

    text-align: center;

}

.item1 {
    width: 25vw;
    margin-right: 3rem;
}

.item2 {
    width: 20vw;
    height: 40vh;
    border-radius: 1rem;
    margin: 0 0.5rem 2rem 0.5rem;
    object-fit: cover;
    transition: transform 0.4s ease-out;

}

.item2:hover {
    box-shadow: 0 1rem 2rem black;
    transform: scale(1.1);
    border: 1px solid white;

}

.item3 {
    grid-column: span 3;
}

.item3:hover {
    color: rgb(6, 212, 6);
}


.formContainer {
    background-color: rgb(239, 238, 238);
    border-radius: 1rem;
    flex-direction: column;
    display: flex;
    justify-content: center;

    width: 60vw;
    height: 75vh;
    padding-left: 1rem;
    margin-top: 1rem;
    padding-top: 1rem;
}
.formContainer h2{
    font-family: "Atkinson Hyperlegible Mono", sans-serif;
    
    font-weight: bolder;
    letter-spacing: 1px;
}

form {
    height: 70vh;
    padding: 1rem;
}

form .details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

form .details .spec {

    width: calc(100% /2 - 2rem);
    margin: 0rem 0 0.8rem 0;
    padding-right: 2rem;
}

.details .spec .user-details {
    font-weight: bolder;
    margin-bottom: 0.3rem;
    display: block;

}

.details .spec input {
    height: 2rem;
    width: 100%;
    outline: none;
    border-radius: 0.5rem;
    border: 1px solid black;
    padding-left: 15px;
    font-size: 16px;
}




#feedback {
    margin-top: 1rem;
    width: 50vw;
    height: 15vh;
    padding: 1rem;
    border-radius: 0.5rem;
}

#formSubmit {
    width: 5rem;
    height: 1.8rem;
    border-radius: 0.5rem;
    outline: none;
    border: 1px solid white;
    background-image: linear-gradient(rgb(216, 216, 216), rgb(210, 208, 208));
    transition: transform 0.3s ease;
}

#formSubmit:hover {
    background-image: linear-gradient(rgb(167, 250, 1), rgb(95, 255, 3));
    transform: scale(1.1);
}

.btnText{
    font-family: "Atkinson Hyperlegible Mono", sans-serif;
    font-size: 0.8rem;
    font-weight: bolder;
    letter-spacing: 1px;
}