* {
    padding: 0;
    margin: 0;
}

nav {
    background-image: linear-gradient(rgb(115, 0, 168), rgb(139, 5, 197));

}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

nav ul a li {
    color: white;
    text-decoration: none;
    list-style-type: none;
}

nav ul a {
    text-decoration: none;
}

#myCanvas {
    border: 2px solid black;
    border-radius: 2%;
    height: 80vh;
    width: 80vw;
}

main {
    background-image: linear-gradient(rgb(202, 200, 200), white);
    height: 80vh;
}


img {
    height: 10rem;
    width: 10rem;
}

.hidden{
    display: none;
}

.hidden2{

    opacity: 0;
    
    /* or translateY(10px) */
    pointer-events: none;
}

main {
    display: flex;
    justify-content: space-between;
}

#buttons {
    transition: opacity 0.3s ease, transform 0.3s ease;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}